<div class="window">
    <div class="form-login">
        <header>
            <h1>S'inscrire</h1>
        </header>
    
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm(content)" class="w-90 mx-auto"  >
            <div class="form-group">
                <label for="pseudo">Pseudo:</label>
                <input type="text" class="form-control" id="pseudo" formControlName="pseudo" aria-describedby="pseudo" placeholder="pseudo/e-mail">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe:</label>
                <input type="password" class="form-control" id="password" formControlName="password" aria-describedby="password" placeholder="Mot de passe">
            </div>
            
            <div class="form-group">
                <input type="submit" value="Inscription" [disabled]="loginForm.invalid" class="btn btn-primary float-right">
            </div>
        </form>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Hello!</h4>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
      </div>
  </ng-template>