
.window {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-login {
        width: 100%;
        max-width: 35rem;
        padding: 2rem;

        header {
            width: 100%;
            height: 3rem;
    
            h1 {
                width: 100%;
                align-items: center;
                margin-bottom: 2rem;
            }
        }
    
    
        form {
            margin-top: 2rem;

            label {
                font-size: 1.25rem;
            }
            
            
            input[type=submit] {
                margin-top: 1rem;
            }
        
        }
    }
}

