<div class="col-sm-12 col-sm-offset-2">
    <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="text">Ajouter du text:</label>
        <input type="text" id="text" class="form-control" formControlName="text">
      </div>
      <!-- <div class="form-group">
        <label for="postImg">Insérer un fichier:</label> -->
        <!-- <input type="hidden" id="postImg" class="form-control" formControlName="postImg" value=""> -->
        <!-- <input type="file" class="filepicker" id="imageUrl"
        (change)="handleFileInput($event)">
      </div> -->
      <div class="form-group">
        <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)">
        <button type="button" mat-raised-button color="primary" (click)="imageInput.click()">Ajouter une image</button>
        <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;display:block;margin-top:10px">
      </div>
      
      <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
  </div>