<div class="new-post">
    <p>
        <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
            Quoi de neuf, {{username}}?
        </button>
    </p>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-12 col-sm-offset-2">
                    <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
                      <div class="form-group">
                        <label for="text">Ajouter du text:</label>
                        <input type="text" id="text" class="form-control" formControlName="text">
                      </div>
                      <div class="form-group">
                        <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)">
                        <button type="button" mat-raised-button color="primary" (click)="imageInput.click()">Ajouter une image</button>
                        <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;display:block;margin-top:10px">
                      </div>
                      
                      <button type="submit" class="btn btn-primary">Soumettre</button>
                    </form>
                  </div>
            </div>
        </div>
    </div>
</div>

<app-tweet  *ngFor="let post of posts"
            [pseudo]="post.pseudo"
            [imageUrl]="post.imageUrl"
            [text]="post.text"
            [_id]="post.id"
            (deletePostEvent)="getPosts()"
            (editPostEvent)="getPosts()"
            (newCommentEvent)="getPosts()"
            [ownPost]="post.pseudo === username"
            [admin]="isAdmin === true"
            >
</app-tweet>