
<nav class="navbar navbar-expand-lg navbar-light bg-home-made-purple mb-3" id="header-nav">
    <a class="navbar-brand" [routerLink]="'.'"><img src="/assets/img/icon-left-font-monochrome-black.svg" alt="" width="100%"></a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>
    

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="nav-list">
        <ul class="navbar-nav">
            <li *ngIf="!isAuth" class="nav-item">
                <div class="icon">
                    <fa-icon [icon]="faUserPlus" class="header__icon"></fa-icon>
                </div>
                <a class="nav-link" routerLinkActive="active" routerLink="subscribe" >S'enregistrer</a>
            </li>
            <li *ngIf="!isAuth" class="nav-item">
                <div class="icon">
                    <fa-icon [icon]="faUserAlt" class="header__icon"></fa-icon>
                </div>
                <a class="nav-link" routerLinkActive="active" routerLink="login" >Se connecter</a>
            </li>

            <!-- <div class="connection">
                
            </div> -->
            <!-- <li *ngIf="isAuth" class="nav-item">
                <a class="nav-link" routerLinkActive="active" (click)="tweet()" >Tweet</a>
            </li> -->
            <li *ngIf="isAuth" class="nav-item">
                <div class="icon">
                    <fa-icon [icon]="faBell" class="header__icon"></fa-icon>
                </div>
                <a class="nav-link" routerLinkActive="active" >Notifications</a>
            </li>
            <li *ngIf="isAuth" class="nav-item">
                <div class="icon">
                    <fa-icon [icon]="faUserFriends" class="header__icon"></fa-icon>
                </div>
                <a class="nav-link" routerLinkActive="active" >Contacts</a>
            </li>
            <!-- 
            <li *ngIf="isAuth" class="nav-item">
                <div class="icon">
                    <fa-icon [icon]="faUserAlt" class="header__icon"></fa-icon>
                </div>
                <a class="nav-link" routerLinkActive="active" (click)="signout()" >Compte</a>
            </li> -->
            <li *ngIf="isAuth" class="nav-item d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem (click)="delete()">
                        <div class="icon">
                            <fa-icon [icon]="faUserTimes"></fa-icon>
                        </div>
                        <p>Supprimer le compte</p>
                    </button>
                    <button ngbDropdownItem>
                        <div class="icon">
                            <fa-icon [icon]="faCog"></fa-icon>
                        </div>
                        <p>Paramètres</p>
                    </button>
                    <button ngbDropdownItem (click)="signout()">
                        <div class="icon">
                            <fa-icon [icon]="faPowerOff"></fa-icon>
                        </div>
                        <p>Déconnexion</p>
                    </button>
                </div>
                <div class="icon">
                    <fa-icon [icon]="faUserAlt" class="header__icon"></fa-icon>
                </div>
                <button class="nav-link bg-home-made-purple justify-content-center" routerLinkActive="active" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Compte</button>
                <!-- <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown</button> -->
                
            </li>
        </ul>
    </div>
</nav>
  