

a {
    cursor: pointer;
}

.filepicker{
    -webkit-appearance: none;
    position:absolute;
    top:1px;
    right:1px;
    width: 40px;
    height: 40px;
    text-indent: 100em;
    //background: url('assets/images/maps/Browse.png');
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

.bg-home-made-purple {
    background-color: #c9c8f552;
}

#header-nav {
    display: flex;
    justify-content: space-around;
}

#nav-list {
    flex-basis: content;
    flex-grow: unset;
}

.navbar-brand {
    max-width: 15rem;
}

.icon {
    width: 100%;
    //height: 65px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .header__icon {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: black;
        font-size: 2rem;
        text-align: center;
    }

    
}


.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        padding-top: 0;
    }
}

button.nav-link {
    border: none;
    outline: none;
}

li.d-inline-block {
    button {
        width: 100%;
        display: flex;

        .icon {
            margin-right: 1rem;
            display: block;
        }
    }
}