<div class="tweet">
    <header>
        <div class="header-profile">
            <div class="user-image">
                
            </div>
            <p class="username">
                {{ username }}
            </p>
        </div>
        <div class="buttons">
            <div class="icon" style="color:rgba(50, 50, 250, 0.5)">
                <fa-icon [icon]="faThumbsUp" class="header__icon"></fa-icon>
            </div>
            <div class="icon">
                <fa-icon *ngIf="ownPost" [icon]="faEdit" class="header__icon" (click)="editPost(content)"></fa-icon>
            </div>
            <div class="icon" style="color:rgba(250, 10, 10, 0.7)">
                <fa-icon *ngIf="admin || ownPost" [icon]="faBan" class="header__icon" (click)="deleteTweet()"></fa-icon>
            </div>
        </div>
    </header>
    <p class="post-text ml-3">
        {{ text }}
    </p>
    <div *ngIf="imageUrl" class="post-img">
        <div class="img">
            <img [src]="imageUrl" alt="imageUrl" width="100%" height="100%">
        </div>
    </div>

    <div class="new-post">
        <p>
            <button type="button" class="btn" id="buttonComment" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample">
                <div class="icon">
                    <fa-icon [icon]="faComment" class="header__icon"></fa-icon>
                </div>
                
            </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div *ngFor="let comment of comments" class="comment">
                <p class="ml-3">
                    <strong>{{ comment.user }}</strong>: {{ comment.comment }}
                </p>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="col-sm-12 col-sm-offset-2">
                        <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">
                          <div class="form-group">
                            <label for="comment">Insérer un commentaire:</label>
                            <input type="text" id="comment" class="form-control" formControlName="comment">
                          </div>
                          <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="postEditForm" (ngSubmit)="onSubmitForm()">
        <div class="modal-body">
            <div class="form-group">
                <label for="edit-text">Ajouter du text:</label>
                <input type="text" id="edit-text" class="form-control" formControlName="editText">
            </div>
            <div class="form-group">
                <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)">
                <button type="button" mat-raised-button color="primary" (click)="imageInput.click()">Ajouter une image</button>
                <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;display:block;margin-top:10px">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
        <!-- <button type="submit" class="btn btn-primary">Sauvegarder</button> -->
    </form>
  </ng-template>

