

input[type=file] {
    display: none;
}

.new-post {

    p {
        //text-align: center;

        #buttonComment {
            color: black;
            //margin: 1rem auto;
        
            &:hover {
                transform: scale(1.5);
                transition: 0.25s;
            }

            &:active, &:focus, &:visited {
                outline: none;
                box-shadow: none;
            }
        }
    }
}



.tweet {
    max-width: 35rem;
    width: 100%;
    height: auto;
    margin: 2rem auto;
    border-radius: .5rem;
    box-shadow: .25rem .25rem 1rem rgba(100, 100, 100, 0.5);
    overflow: hidden;


    header {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #c9c8f552;
        border-bottom: solid #b47ae094 1px;
        margin-bottom: 1rem;

        .header-profile {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .user-image {
                justify-self: flex-start;
                width: 3rem;
                height: 3rem;
                margin-left: -1rem;
                margin-right: 1rem;
                background-image: url('../../../../assets/img/man.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 100%;
            }
    
            p.username {
                text-transform: capitalize;
                font-weight: 600;
                text-decoration: underline;
            }
        }

        .buttons {
            display: flex;

            .icon {
                margin-left: 1rem;
                font-size: 1.25rem;
                color:rgba(100, 100, 100, 0.5);
                cursor: pointer;
            }

            .icon:hover {
                color:rgba(100, 100, 100, 1)
            }
        }
        

        
    }



    .post-img {
        width: 100%;
        height: 15rem;

        .img {
            width: 100%;
            height: 100%;
            // background-image: url('../../../../assets/img/drawing.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
       
    }

}

.comment {
    width: 100%;
    background-color: white;
    margin-bottom: 0.25rem;

    p {

    }

}